<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.airwindow_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Airwindowapp"
        tools:targetApi="31">
        <activity
            android:name=".activities.ScheduleActivity"
            android:label="@string/schedule_title"
            android:exported="false" />
        <activity
            android:name=".activities.HomeActivity"
            android:exported="true"
            android:label="@string/home_title"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RoomActivity"
            android:exported="false"
            android:label="@string/room_title"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.HomeActivity" />
        <activity
            android:name=".activities.WindowActivity"
            android:exported="false"
            android:label="@string/window_title"
            android:parentActivityName=".activities.RoomActivity" />
    </application>

</manifest>